<span class="info-icon" tooltipDirective >
    <a href="javascript:void(0)"> Problem receiving email?</a>
    <ng-template #tooltipTemplate>
     <div class="tooltip-msg-2">
       <p>If an individual did not receive an email, have them check thier SPAM filter. If needed, you can attempt to resend the email. If you're still having issues, please contact your personal advisor.</p>
       </div>
    </ng-template>
</span>

<br>
<span class="info-icon" tooltipDirective >
    <a href="javascript:void(0)"> Problem receiving email?</a>
    <ng-template #tooltipTemplate>
     <div class="tooltip-msg-2">
       <p>If an individual did not receive an email, have them check thier SPAM filter. If needed, you can attempt to resend the email. If you're still having issues, please contact your personal advisor.</p>
       <button type="button" data-close class="close"> close</button>
       </div>
    </ng-template>
</span>


<br>
<span *ngFor="let tooltip of tooltips" tooltipDirective>
    <a href="javascript:void(0)"> {{tooltip.title}} </a>
    <ng-template #tooltipTemplate>
    <div class="tooltip-msg-2">
      <p>{{ tooltip.description }}</p>
      <button type="button" data-close class="close"> close</button>
      </div>
   </ng-template>
</span>
